.list{
  height: 50vh;
  border-bottom: 1px solid var(--black);
  grid-template-areas: 
    "logo"
    "nav"
    "controlPage";
  grid-template-rows: 2rem 1fr 2rem;
}

.logo{
  grid-area: logo;
  color: var(--pokemon-blue);
  font-size: x-large;
  text-align: center;
}

@media screen and (min-width: 800px){
  div.list{
    width: 100%;
    height: 100%;
    border-bottom: none;
    border-right: 1px solid var(--black);
  }
}



