@import url('http://fonts.cdnfonts.com/css/pokemon-solid');            

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pokemon Solid', sans-serif;                                           
}

:root{
  --pokemon-yellow: #ffca00;
  --pokemon-blue: #2973aa;
  --pokemon-red:  #ed1b25;
  --black: #0d0d0d;
  --white: #f3f3f3;
}

.box{
  height: 100vh;
  margin: auto;
  border: 2px solid var(--black);
  display: flex;
  flex-direction: column;
  background-color: var(--pokemon-yellow);
}

@media screen and (min-width: 800px) {
  div.box{
    flex-direction: row;
    justify-content: space-evenly;
    height: 50vh;
    width: 50vw;
  }
}